* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
}
#gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: black solid 2px;
  height: 350px;
  width: 350px;
}
#gameBoard > div {
  border: 2px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

#gameModeMenu {
  display: flex;
}
#gameModeMenu > button {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
}

#popUpMessageAreaContainer {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}
#popUpMessageArea {
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rosybrown;
}
